function Main.main 1
call PQueue.new 0
pop local 0
push local 0
push constant 1
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 2
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 3
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 4
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 1
neg
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 10
call PQueue.enqueue 2
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call PQueue.dequeue 1
pop temp 0
push local 0
call PQueue.clear 1
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
push local 0
call PQueue.dispose 1
pop temp 0
push constant 0
return
