function Main.main 1
call Set.new 0
pop local 0
push local 0
push constant 1
call Set.insert 2
pop temp 0
push local 0
push constant 2
call Set.insert 2
pop temp 0
push local 0
push constant 3
call Set.insert 2
pop temp 0
push local 0
push constant 4
call Set.insert 2
pop temp 0
push local 0
push constant 5
call Set.insert 2
pop temp 0
push local 0
call Set.print 1
pop temp 0
push local 0
push constant 3
call Set.delete 2
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Set.print 1
pop temp 0
push constant 0
return
