function Main.main 3
push constant 6
call Node.new 1
pop local 0
push local 0
call BST.new 1
pop local 2
push local 2
push constant 3
call BST.insert 2
pop temp 0
push local 2
push constant 8
call BST.insert 2
pop temp 0
push local 2
push constant 4
call BST.insert 2
pop temp 0
push local 2
push constant 7
call BST.insert 2
pop temp 0
push local 0
call BST.inorder_print 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push constant 3
call BST.delete 2
pop temp 0
push local 0
call BST.inorder_print 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push constant 8
call BST.delete 2
pop temp 0
push local 0
call BST.inorder_print 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push constant 6
call BST.delete 2
pop temp 0
push local 0
call BST.inorder_print 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push constant 4
call BST.delete 2
pop temp 0
push local 0
call BST.inorder_print 1
pop temp 0
push local 2
push local 0
call BST.disposeTree 2
pop temp 0
push local 2
call BST.dispose 1
pop temp 0
push local 0
call Node.dispose 1
pop temp 0
push constant 0
return
