function Main.main 2
push constant 5
call Hashtable.new 1
pop local 1
push local 1
push constant 3
push constant 123
call Hashtable.get 3
pop local 0
push local 1
push constant 4
push constant 2
call Hashtable.get 3
pop local 0
push local 1
push constant 5
push constant 4152
call Hashtable.get 3
pop local 0
push local 1
push constant 100
push constant 5
call Hashtable.get 3
pop local 0
push local 1
push constant 11
push constant 8
call Hashtable.get 3
pop local 0
push local 1
call Hashtable.print 1
pop temp 0
push local 1
call Hashtable.dispose 1
pop temp 0
push constant 0
return
